*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

.App {
  height: 100vh;
  width: 100%;
}

.index {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.index-button {
  display: flex;
  width:  20rem;
  height: 10rem;
  justify-content: center;
  flex-direction: row;
}

.create {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.create button{
  display: flex;
  width: 20rem;
  height: 5rem;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}